@model ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuarios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos del Usuario</h5>
        </div>
        <hr />
    </div>
    @using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(usuario => Model.IdUsuario, new { @class = "hidden" })
                @Html.TextBoxFor(usuario => Model.IdUsuario, new { @class = "form-control hidden" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.Label("Nombre")
                @Html.TextBoxFor(usuario => Model.Nombre, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Apellido Paterno")
                @Html.TextBoxFor(usuario => Model.ApellidoPaterno, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Apellido Materno")
                @Html.TextBoxFor(usuario => Model.ApellidoMaterno, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("UserName")
                @Html.TextBoxFor(usuario => Model.UserName, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Email")
                @Html.TextBoxFor(usuario => Model.Email, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Password")
                @Html.TextBoxFor(usuario => Model.Password, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Sexo")
                @Html.TextBoxFor(usuario => Model.Sexo, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Telefono")
                @Html.TextBoxFor(usuario => Model.Telefono, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Celular")
                @Html.TextBoxFor(usuario => Model.Celular, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("CURP")
                @Html.TextBoxFor(usuario => Model.CURP, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Fecha de Nacimiento")
                @Html.TextBoxFor(usuario => Model.FechaNacimiento, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.Label("Rol Usuario")
                @Html.DropDownListFor(usuario => Model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Selecciona un Rol", new { @class = "form-control" })
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Pais")
                @*@Html.DropDownListFor(producto => Model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Pais.Paises, "IdPais", "Nombre"), "Selecciona un Pais", new { @id = "ddlPais", @class = "form-control" })*@

            </div>
            <div class="col-md-3">
                @Html.Label("Estado")
                @*@if (Model.Direccion.Colonia.Municipio.Estado.Estados != null)
                {
                   // @Html.DropDownListFor(producto => Model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado", new { @class = "form-control", @id = "ddlEstado" })
                }
                else
                {*@
                    @Html.DropDownListFor(producto => Model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(string.Empty, "IdEstado", "Nombre"), "Selecciona un Estado", htmlAttributes: new { @class = "form-control", @id = "ddlEstado" })
                @*}*@
            </div>
            <div class="col-md-3">
                @Html.Label("Municipio")
                @*@if (Model.Direccion.Colonia.Municipio.Municipios != null)
                {*@
                   @*// @Html.DropDownListFor(producto => Model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(Model.Direccion.Colonia.Municipio.Municipios, "IdMunicipio", "Nombre"), "Selecciona un Municipio", new { @class = "form-control", @id = "ddlMunicipio" })
                }
                else*@
                @*{*@
                    @Html.DropDownListFor(producto => Model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(string.Empty, "IdMunicipio", "Nombre"), "Selecciona un Municipio", htmlAttributes: new { @class = "form-control", @id = "ddlMunicipio" })
                @*}*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" value="Guardar" />
                <p></p>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Usuario", new { @class = "btn btn-danger" })
            </div>
        </div>

    }
</div>

