@model ML.Producto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Usuarios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos del Usuario</h5>
        </div>
        <hr />
    </div>
    @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(producto => Model.IdProducto, new { @class = "hidden" })
                @Html.TextBoxFor(producto => Model.IdProducto, new { @class = "form-control hidden" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Nombre")
                @Html.TextBoxFor(producto => Model.Nombre, new { @class = "form-control" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.Label("Precio Unitario")
                @Html.TextBoxFor(producto => Model.PrecioUnitario, new { @class = "form-control" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.Label("Stock")
                @Html.TextBoxFor(producto => Model.Stock, new { @class = "form-control" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.Label("Proveedor")
                @Html.DropDownListFor(producto => Model.Proveedor.IdProveedor, new SelectList(Model.Proveedor.Proveedores, "IdProveedor", "Nombre"), "Selecciona un proveedor", new { @class = "form-control" })
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Area")
                @Html.DropDownListFor(producto => Model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Selecciona una Area", new { @id = "Area", @class = "form-control" })
  
            </div>
            <div class="col-md-3">
                @Html.Label("Departamento")
                <select id="Departamento" name="Departamento" class="form-control"></select>
                @*@Html.DropDownListFor(producto => Model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un Departamento", new { @class = "form-control" })*@
            </div>
            <div class="col-md-3">
                @Html.Label("Descripcion")
                @Html.TextBoxFor(producto => Model.Descripcion, new { @class = "form-control" })
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" value="Guardar" />
                <p></p>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Producto", new { @class = "btn btn-danger" })
            </div>
        </div>
    }

<script>
    var Area = document.getElementById("Area");
    Area.addEventListener("change", Refresh);
    Refresh();

    function Refresh() {
        fetch("@Url.Content("~/Producto/Departamento")" + "?IdArea=" + Area.value)
    }
</script>
</div>

