@model ML.Producto
@using System.ComponentModel.DataAnnotations
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Productos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos del Producto</h5>
        </div>
        <hr />
    </div>
    @using (Html.BeginForm("Form", "Producto", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.IdProducto, new { @class = "hidden" })
                @Html.TextBoxFor(model => Model.IdProducto, new { @class = "form-control hidden" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span></span>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.PrecioUnitario)
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                    @Html.TextBoxFor(model => Model.PrecioUnitario, "{0:#.#}", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.PrecioUnitario, "", new { @class = "text-danger" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Stock)
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-inbox"></span></span>
                    @Html.TextBoxFor(model => Model.Stock, "{0:#.#}", new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Stock, "", new { @class = "text-danger" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Proveedor.Nombre)
                @Html.DropDownListFor(model => Model.Proveedor.IdProveedor, new SelectList(Model.Proveedor.Proveedores, "IdProveedor", "Nombre"), "Selecciona un proveedor", new { @class = "form-control" })
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Departamento.Area.Nombre)
                @Html.DropDownListFor(model => Model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Selecciona una Area", new { @id = "ddlArea", @class = "form-control" })

            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Departamento.Nombre)
                @if (Model.Departamento.Departamentos != null)
                {
                    @Html.DropDownListFor(model => Model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un Departamento", new { @class = "form-control", @id = "ddlDepartamento" })
                }
                else
                {
                    @Html.DropDownListFor(model => Model.Departamento.IdDepartamento, new SelectList(string.Empty, "IdDepartamento", "Nombre"), "Selecciona un Departamento", htmlAttributes: new { @class = "form-control", @id = "ddlDepartamento" })
                }
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Descripcion)
                @Html.TextAreaFor(model => Model.Descripcion, new { @class = "form-control" })
                <br />
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.Imagen)
                <input type="file" accept="image/*" id="FuImgProducto" onchange="validarArchivo(event);" name="ImgProducto" />
                @Html.ValidationMessageFor(model => Model.Imagen, null, new { @class = "text-danger", @id = "Imagen-error" })
                <br />
                <br />
                @if (Model.Imagen != null)
                {
                    @Html.HiddenFor(model => Model.Imagen)
                    <img src="data:image/jpg;base64, @Convert.ToBase64String(Model.Imagen)" style="width: 200px; height: 200px; position: absolute; top: 80%; left: 20%;" />
                }
                else
                {
                    <img id="Img" src="~/Images/ProductoDefault.png" style="width: 200px; height: 200px; position: absolute; top: 80%; left: 20%;" />
                }

                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" value="Guardar" />
                <p></p>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Producto", new { @class = "btn btn-danger" })
            </div>
        </div>
    }
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/Productos/AreaDepartamento/GetDepartamento.js"></script>
<script src="~/Scripts/Imagen/PreviewImage.js"></script>
